<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongnao.workbench.staticAnalysis.dao.AnalysisMapper">
	<resultMap id="StoreActiveAnalysisResultMap" type="com.dongnao.workbench.staticAnalysis.model.StoreActiveAnalysis">
		<result column="storeName" property="storeName" jdbcType="VARCHAR" />
		<result column="storeArea" property="storeArea" jdbcType="VARCHAR" />
		<result column="searchTime" property="searchTime" jdbcType="VARCHAR" />
		<result column="activityType" property="activityType" jdbcType="VARCHAR" />
		<result column="activityName" property="activityName" jdbcType="VARCHAR" />
		<result column="platformAllowance" property="platformAllowance" jdbcType="VARCHAR" />
		<result column="activityIntensity" property="activityIntensity" jdbcType="VARCHAR" />
		<result column="activityCycle" property="activityCycle" jdbcType="VARCHAR" />
		<result column="activityTotalCost" property="activityTotalCost" jdbcType="VARCHAR" />
		<result column="activityTotalProfit" property="activityTotalProfit" jdbcType="VARCHAR" />
		<result column="profitPercent" property="profitPercent" jdbcType="VARCHAR" />
		<result column="enterRateInActivity" property="enterRateInActivity" jdbcType="VARCHAR" />
		<result column="conversionRateInActivity" property="conversionRateInActivity" jdbcType="VARCHAR" />
		<result column="tradeAmountIncrementPercent" property="tradeAmountIncrementPercent" jdbcType="VARCHAR" />
		<result column="orderAmountIncrementPercent" property="orderAmountIncrementPercent" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="BidStaticAnalysisResultMap" type="com.dongnao.workbench.staticAnalysis.model.BidStaticAnalysis">
		<result column="storeName" property="storeName" jdbcType="VARCHAR" />
		<result column="storeArea" property="storeArea" jdbcType="VARCHAR" />
		<result column="bidTime" property="bidTime" jdbcType="VARCHAR" />
		<result column="searchTime" property="searchTime" jdbcType="VARCHAR" />
		<result column="bidCycle" property="bidCycle" jdbcType="VARCHAR" />
		<result column="bidTotalAmountInWeek" property="bidTotalAmountInWeek" jdbcType="VARCHAR" />
		<result column="averageClickCost" property="averageClickCost" jdbcType="VARCHAR" />
		<result column="bidActivityIntensity" property="bidActivityIntensity" jdbcType="VARCHAR" />
		<result column="exposureIncrementPercent" property="exposureIncrementPercent" jdbcType="VARCHAR" />
		<result column="enterRateIncrementPercent" property="enterRateIncrementPercent" jdbcType="VARCHAR" />
		<result column="tradeAmountIncrementPercent" property="tradeAmountIncrementPercent" jdbcType="VARCHAR" />
		<result column="rankBeforeBid" property="rankBeforeBid" jdbcType="VARCHAR" />
		<result column="rankAfterBid" property="rankAfterBid" jdbcType="VARCHAR" />
		<result column="contributionInBid" property="contributionInBid" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="DemandAnalysisBaseResultMap" type="com.dongnao.workbench.staticAnalysis.model.DemandAnalysis">
		<result column="searchTime" property="searchTime" jdbcType="VARCHAR" />
		<result column="storeArea" property="storeArea" jdbcType="VARCHAR" />
		<result column="customName" property="customName" jdbcType="VARCHAR" />
		<result column="customOrdAddr" property="customOrdAddr" jdbcType="VARCHAR" />
		<result column="customTel" property="customTel" jdbcType="VARCHAR" />
		<result column="mostBrowseMerchantName" property="mostBrowseMerchantName" jdbcType="VARCHAR" />
		<result column="mostBrowseMerchantType" property="mostBrowseMerchantType" jdbcType="VARCHAR" />
		<result column="averageCost" property="averageCost" jdbcType="VARCHAR" />
		<result column="favoriteDishesName" property="favoriteDishesName" jdbcType="VARCHAR" />
		<result column="favoriteDishesCost" property="favoriteDishesCost" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="StoreActiveAnalysis_Column_List">
	 	id
	 	,storeName
		,storeArea
		,searchTime
		,activityType
		,activityName
		,platformAllowance
		,activityIntensity
		,activityCycle
		,activityTotalCost
		,activityTotalProfit
		,profitPercent
		,enterRateInActivity
		,conversionRateInActivity
		,tradeAmountIncrementPercent
		,orderAmountIncrementPercent
	</sql>
	<sql id="DemandAnalysis_Column_List">
	 	id
	 	,searchTime
		,storeArea
		,customName
		,customOrdAddr
		,customTel
		,mostBrowseMerchantName
		,mostBrowseMerchantType
		,averageCost
		,favoriteDishesName
		,favoriteDishesCost
	</sql>
	<sql id="BidStaticAnalysis_Column_List">
		id
	 	,storeName
		,storeArea
		,bidTime
		,searchTime
		,bidCycle
		,bidTotalAmountInWeek
		,averageClickCost
		,bidActivityIntensity
		,exposureIncrementPercent
		,enterRateIncrementPercent
		,tradeAmountIncrementPercent
		,rankBeforeBid
		,rankAfterBid
		,contributionInBid
	</sql>
	<select id="demandAnalysis" resultMap="DemandAnalysisBaseResultMap" parameterType="com.dongnao.workbench.staticAnalysis.model.DemandAnalysis">
		select
		<include refid="DemandAnalysis_Column_List" />
		from analysis_demand
		where 1=1
		<if test="id != null and '' != id">  
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="searchtime != null and '' != searchtime">  
			and searchTime = #{searchtime,jdbcType=VARCHAR}
		</if>
		<if test="storearea != null and '' != storearea">  
			and storeArea = #{storearea,jdbcType=VARCHAR}
		</if>
		<if test="customname != null and '' != customname">  
			and customName = #{customname,jdbcType=VARCHAR}
		</if>
		<if test="customordaddr != null and '' != customordaddr">  
			and customOrdAddr = #{customordaddr,jdbcType=VARCHAR}
		</if>
		<if test="customtel != null and '' != customtel">  
			and customTel = #{customtel,jdbcType=VARCHAR}
		</if>
		<if test="mostbrowsemerchantname != null and '' != mostbrowsemerchantname">  
			and mostBrowseMerchantName = #{mostbrowsemerchantname,jdbcType=VARCHAR}
		</if>
		<if test="mostbrowsemerchanttype != null and '' != mostbrowsemerchanttype">  
			and mostBrowseMerchantType = #{mostbrowsemerchanttype,jdbcType=VARCHAR}
		</if>
		<if test="averagecost != null and '' != averagecost">  
			and averageCost = #{averagecost,jdbcType=DECIMAL}
		</if>
		<if test="favoritedishesname != null and '' != favoritedishesname">  
			and favoriteDishesName = #{favoritedishesname,jdbcType=VARCHAR}
		</if>
		<if test="favoritedishescost != null and '' != favoritedishescost">  
			and favoriteDishesCost = #{favoritedishescost,jdbcType=DECIMAL}
		</if>
		<if test="orderFields != null and '' != orderFields">  
         	order by ${orderFields} ${order}
       	</if>
		
	</select>
	
	<select id="bidStaticAnalysis" resultMap="BidStaticAnalysisResultMap" parameterType="com.dongnao.workbench.staticAnalysis.model.BidStaticAnalysis">
		select
		<include refid="BidStaticAnalysis_Column_List" />
		from analysis_bid
		where 1=1
		<if test="id != null and '' != id">  
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="storename != null and '' != storename">  
			and storeName = #{storename,jdbcType=VARCHAR}
		</if>
		<if test="storearea != null and '' != storearea">  
			and storeArea = #{storearea,jdbcType=VARCHAR}
		</if>
		<if test="bidtime != null and '' != bidtime">  
			and bidTime = #{bidtime,jdbcType=VARCHAR}
		</if>
		<if test="searchtime != null and '' != searchtime">  
			and searchTime = #{searchtime,jdbcType=VARCHAR}
		</if>
		<if test="bidcycle != null and '' != bidcycle">  
			and bidCycle = #{bidcycle,jdbcType=VARCHAR}
		</if>
		<if test="bidtotalamountinweek != null and '' != bidtotalamountinweek">  
			and bidTotalAmountInWeek = #{bidtotalamountinweek,jdbcType=VARCHAR}
		</if>
		<if test="averageclickcost != null and '' != averageclickcost">  
			and averageClickCost = #{averageclickcost,jdbcType=DECIMAL}
		</if>
		<if test="bidactivityintensity != null and '' != bidactivityintensity">  
			and bidActivityIntensity = #{bidactivityintensity,jdbcType=VARCHAR}
		</if>
		<if test="exposureincrementpercent != null and '' != exposureincrementpercent">  
			and exposureIncrementPercent = #{exposureincrementpercent,jdbcType=VARCHAR}
		</if>
		<if test="enterrateincrementpercent != null and '' != enterrateincrementpercent">  
			and enterRateIncrementPercent = #{enterrateincrementpercent,jdbcType=VARCHAR}
		</if>
		<if test="tradeamountincrementpercent != null and '' != tradeamountincrementpercent">  
			and tradeAmountIncrementPercent = #{tradeamountincrementpercent,jdbcType=VARCHAR}
		</if>
		<if test="rankbeforebid != null and '' != rankbeforebid">  
			and rankBeforeBid = #{rankbeforebid,jdbcType=VARCHAR}
		</if>
		<if test="rankafterbid != null and '' != rankafterbid">  
			and rankAfterBid = #{rankafterbid,jdbcType=VARCHAR}
		</if>
		<if test="contributioninbid != null and '' != contributioninbid">  
			and contributionInBid = #{contributioninbid,jdbcType=VARCHAR}
		</if>
		<if test="orderFields != null and '' != orderFields">  
         	order by ${orderFields} ${order}
       	</if>
	
	
	</select>
	
	<select id="storeActiveAnalysis" resultMap="StoreActiveAnalysisResultMap" parameterType="com.dongnao.workbench.staticAnalysis.model.StoreActiveAnalysis">
		select
		<include refid="StoreActiveAnalysis_Column_List" />
		from analysis_bid
		where 1=1
		<if test="id != null and '' != id">  
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="storename != null and '' != storename">  
			and storeName = #{storename,jdbcType=VARCHAR}
		</if>
		<if test="storearea != null and '' != storearea">  
			and storeArea = #{storearea,jdbcType=VARCHAR}
		</if>
		<if test="bidtime != null and '' != bidtime">  
			and bidTime = #{bidtime,jdbcType=VARCHAR}
		</if>
		<if test="searchtime != null and '' != searchtime">  
			and searchTime = #{searchtime,jdbcType=VARCHAR}
		</if>
		<if test="bidcycle != null and '' != bidcycle">  
			and bidCycle = #{bidcycle,jdbcType=VARCHAR}
		</if>
		<if test="bidtotalamountinweek != null and '' != bidtotalamountinweek">  
			and bidTotalAmountInWeek = #{bidtotalamountinweek,jdbcType=VARCHAR}
		</if>
		<if test="averageclickcost != null and '' != averageclickcost">  
			and averageClickCost = #{averageclickcost,jdbcType=DECIMAL}
		</if>
		<if test="bidactivityintensity != null and '' != bidactivityintensity">  
			and bidActivityIntensity = #{bidactivityintensity,jdbcType=VARCHAR}
		</if>
		<if test="exposureincrementpercent != null and '' != exposureincrementpercent">  
			and exposureIncrementPercent = #{exposureincrementpercent,jdbcType=VARCHAR}
		</if>
		<if test="enterrateincrementpercent != null and '' != enterrateincrementpercent">  
			and enterRateIncrementPercent = #{enterrateincrementpercent,jdbcType=VARCHAR}
		</if>
		<if test="tradeamountincrementpercent != null and '' != tradeamountincrementpercent">  
			and tradeAmountIncrementPercent = #{tradeamountincrementpercent,jdbcType=VARCHAR}
		</if>
		<if test="rankbeforebid != null and '' != rankbeforebid">  
			and rankBeforeBid = #{rankbeforebid,jdbcType=VARCHAR}
		</if>
		<if test="rankafterbid != null and '' != rankafterbid">  
			and rankAfterBid = #{rankafterbid,jdbcType=VARCHAR}
		</if>
		<if test="contributioninbid != null and '' != contributioninbid">  
			and contributionInBid = #{contributioninbid,jdbcType=VARCHAR}
		</if>
		<if test="orderFields != null and '' != orderFields">  
         	order by ${orderFields} ${order}
       	</if>
	</select>
	
	
	<insert id="addbidAnalysis" parameterType="com.dongnao.workbench.staticAnalysis.model.BidStaticAnalysis">
		insert into emp_salary (
				id
			 	,create_date
				,emp_id
				,emp_bank
				,emp_bank_card
				,basic_salary
				,should_salary
				,duty_level_salary
				,social_security
				,late_early_time
				,late_early_cost
				,attendance_anomaly_time
				,attendance_anomaly_cost
				,leave_day
				,leave_cost
				,table_money
				,housing_allowance
				,merit_raise
				,rests
				,actual_salary
				,send_flag
				,check_id
				,send_date
				,check_date
				,check_flag
				,assign_flag
				,note
		)values (
			#{id,jdbcType=VARCHAR}
			,#{createDate,jdbcType=TIMESTAMP}
			,#{empId,jdbcType=VARCHAR}
			,#{empBank,jdbcType=VARCHAR}
			,#{empBankCard,jdbcType=VARCHAR}
			,#{basicSalary,jdbcType=DECIMAL}
			,#{shouldSalary,jdbcType=DECIMAL}
			,#{dutyLevelSalary,jdbcType=DECIMAL}
			,#{socialSecurity,jdbcType=DECIMAL}
			,#{lateEarlyTime,jdbcType=INTEGER}
			,#{lateEarlyCost,jdbcType=DOUBLE}
			,#{attendanceAnomalyTime,jdbcType=INTEGER}
			,#{attendanceAnomalyCost,jdbcType=DOUBLE}
			,#{leaveDay,jdbcType=DOUBLE}
			,#{leaveCost,jdbcType=DOUBLE}
			,#{tableMoney,jdbcType=DECIMAL}
			,#{housingAllowance,jdbcType=DECIMAL}
			,#{meritRaise,jdbcType=DECIMAL}
			,#{rests,jdbcType=DECIMAL}
			,#{actualSalary,jdbcType=DECIMAL}
			,#{sendFlag,jdbcType=INTEGER}
			,#{checkId,jdbcType=VARCHAR}
			,#{sendDate,jdbcType=TIMESTAMP}
			,#{checkDate,jdbcType=TIMESTAMP}
			,#{checkFlag,jdbcType=INTEGER}
			,#{assignFlag,jdbcType=INTEGER}
			,#{note,jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- <select id="allStatic" resultMap="BaseResultMap" parameterType="com.dongnao.workbench.product.model.Product">
	
	
	</select> -->
</mapper>
