<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongnao.workbench.finance.dao.AccountOrderDetailMapper">
	<resultMap id="BaseResultMap" type="com.dongnao.workbench.finance.model.AccountOrderDetail">
		<id column="id" property="id" jdbcType="VARCHAR" />
			<result column="create_date" property="createDate" jdbcType="DATE" />
			<result column="store_id" property="storeId" jdbcType="CHAR" />
			<result column="store_ELM_id" property="storeELMId" jdbcType="CHAR" />
			<result column="store_MT_id" property="storeMTId" jdbcType="CHAR" />
			<result column="store_BD_id" property="storeBDId" jdbcType="CHAR" />
			<result column="store_name" property="storeName" jdbcType="VARCHAR" />
			<result column="check_no" property="checkNo" jdbcType="VARCHAR" />
			<result column="order_type" property="orderType" jdbcType="VARCHAR" />
			<result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
			<result column="over_time" property="overTime" jdbcType="TIMESTAMP" />
			<result column="order_index" property="orderIndex" jdbcType="VARCHAR" />
			<result column="order_no" property="orderNo" jdbcType="VARCHAR" />
			<result column="prices" property="prices" jdbcType="DECIMAL" />
			<result column="meal_fee" property="mealFee" jdbcType="DECIMAL" />
			<result column="gift_allowance" property="giftAllowance" jdbcType="DECIMAL" />
			<result column="merchant_activities_subsidies" property="merchantActivitiesSubsidies" jdbcType="DECIMAL" />
			<result column="merchant_subsidy_vouchers" property="merchantSubsidyVouchers" jdbcType="DECIMAL" />
			<result column="merchant_dist_charge" property="merchantDistCharge" jdbcType="DECIMAL" />
			<result column="order_dist_charge" property="orderDistCharge" jdbcType="DECIMAL" />
			<result column="platform_dist_charge" property="platformDistCharge" jdbcType="DECIMAL" />
			<result column="service_rate" property="serviceRate" jdbcType="VARCHAR" />
			<result column="service_charge" property="serviceCharge" jdbcType="DECIMAL" />
			<result column="refund_amount" property="refundAmount" jdbcType="VARCHAR" />
			<result column="settlement_amount" property="settlementAmount" jdbcType="DECIMAL" />
			<result column="distribution_mode" property="distributionMode" jdbcType="VARCHAR" />
			<result column="remark" property="remark" jdbcType="VARCHAR" />
			<result column="platform_activities_subsidies" property="platformActivitiesSubsidies" jdbcType="DECIMAL" />
			<result column="platform_subsidy_vouchers" property="platformSubsidyVouchers" jdbcType="DECIMAL" />
			<result column="platform_type" property="platformType" jdbcType="VARCHAR" />
			<result column="is_invalid" property="isInvalid" jdbcType="VARCHAR" />
			<result column="activities_subsidy_bymerchant" property="activitiesSubsidyBymerchant" jdbcType="DECIMAL" />
			<result column="activities_subsidy_bycompany" property="activitiesSubsidyBycompany" jdbcType="DECIMAL" />
			<result column="food_discount" property="foodDiscount" jdbcType="DECIMAL" />
			<result column="special_offer" property="specialOffer" jdbcType="DECIMAL" />
			<result column="booked_time" property="bookedTime" jdbcType="TIMESTAMP" />
			<result column="consignee_name" property="consigneeName" jdbcType="VARCHAR" />
			<result column="consignee_phones" property="consigneePhones" jdbcType="VARCHAR" />
			<result column="active_time" property="activeTime" jdbcType="TIMESTAMP" />
			<result column="active_total" property="activeTotal" jdbcType="DECIMAL" />
			<result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
			<result column="goods_quality" property="goodsQuality" jdbcType="VARCHAR" />
			<result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
			<result column="goods_price" property="goodsPrice" jdbcType="DECIMAL" />
			<result column="order_sale_rate" property="orderSaleRate" jdbcType="DECIMAL" />
	</resultMap>
	<sql id="Base_Column_List">
	 	id,
		create_date,
		store_id,
		store_ELM_id,
		store_MT_id,
		store_BD_id,
		store_name,
		check_no,
		order_type,
		order_time,
		over_time,
		order_index,
		order_no,
		prices,
		meal_fee,
		gift_allowance,
		merchant_activities_subsidies,
		merchant_subsidy_vouchers,
		merchant_dist_charge,
		order_dist_charge,
		platform_dist_charge,
		service_rate,
		service_charge,
		refund_amount,
		settlement_amount,
		distribution_mode,
		remark,
		platform_activities_subsidies,
		platform_subsidy_vouchers,
		platform_type,
		is_invalid,
		activities_subsidy_bymerchant,
		activities_subsidy_bycompany,
		food_discount,
		special_offer,
		booked_time,
		consignee_name,
		consignee_phones,
		active_time,
		active_total,
		goods_name,
		goods_quality,
		goods_id,
		goods_price,
		order_sale_rate
	</sql>
	
	<select id="getByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from account_order_detail
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="listByCondition" resultMap="BaseResultMap" parameterType="com.dongnao.workbench.finance.model.AccountOrderDetail">
		select
			id,
			create_date,
			store_id,
			store_ELM_id,
			store_MT_id,
			store_BD_id,
			store_name,
			check_no,
			order_type,
			order_time,
			over_time,
			order_index,
			order_no,
			prices,
			meal_fee,
			gift_allowance,
			merchant_activities_subsidies,
			merchant_subsidy_vouchers,
			merchant_dist_charge,
			order_dist_charge,
			platform_dist_charge,
			service_rate,
			(-service_charge) as service_charge,
			refund_amount,
			settlement_amount,
			distribution_mode,
			remark,
			platform_activities_subsidies,
			platform_subsidy_vouchers,
			platform_type,
			is_invalid,
			activities_subsidy_bymerchant,
			(-merchant_activities_subsidies-activities_subsidy_bymerchant) as activities_subsidy_bycompany,
			food_discount,
			special_offer,
			booked_time,
			consignee_name,
			consignee_phones,
			active_time,
			active_total,
			goods_name,
			goods_quality,
			goods_id,
			goods_price,
			order_sale_rate
		from account_order_detail
		where 1=1
		<if test="id != null and '' != id">  
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="createDate != null and '' != createDate">  
			and create_date = #{createDate,jdbcType=DATE}
		</if>
		<if test="storeId != null and '' != storeId">  
			and store_id = #{storeId,jdbcType=CHAR}
		</if>
		<if test="storeName != null and '' != storeName">  
			and store_name = #{storeName,jdbcType=VARCHAR}
		</if>
		<if test="checkNo != null and '' != checkNo">  
			and check_no = #{checkNo,jdbcType=VARCHAR}
		</if>
		<if test="orderType != null and '' != orderType">  
			and order_type = #{orderType,jdbcType=VARCHAR}
		</if>
		<if test="orderTime != null and '' != orderTime">  
			and order_time = #{orderTime,jdbcType=TIMESTAMP}
		</if>
		<if test="isInvalid != null and '' != isInvalid">  
			and is_invalid = #{isInvalid,jdbcType=TIMESTAMP}
		</if>
		 <if test="null != propsMap.startDate and propsMap.startDate != ''">
				<![CDATA[
					and DATE_FORMAT(create_date,'%Y-%c-%d') >= DATE_FORMAT(#{propsMap.startDate,jdbcType=DATE},'%Y-%c-%d')
				]]>
			</if>
			<if test="null != propsMap.endDate and propsMap.endDate != ''">
				<![CDATA[
					and DATE_FORMAT(create_date,'%Y-%c-%d') <= DATE_FORMAT(#{propsMap.endDate,jdbcType=DATE},'%Y-%c-%d')
				]]>
			</if> 
			<if test="null != propsMap.startTime and propsMap.startTime != ''">
				<![CDATA[
					and DATE_FORMAT(order_time,'%h:%m"%s') >= DATE_FORMAT(#{propsMap.startTime,jdbcType=TIMESTAMP},'%h:%m:%s')
				]]>
			</if>
			<if test="null != propsMap.endTime and propsMap.endTime != ''">
				<![CDATA[
					and DATE_FORMAT(order_time,'%h:%m:%s') <= DATE_FORMAT(#{propsMap.endTime,jdbcType=TIMESTAMP},'%h:%m:%s')
				]]>
			</if> 
		<if test="overTime != null and '' != overTime">  
			and over_time = #{overTime,jdbcType=TIMESTAMP}
		</if>
		<if test="orderIndex != null and '' != orderIndex">  
			and order_index = #{orderIndex,jdbcType=VARCHAR}
		</if>
		<if test="orderNo != null and '' != orderNo">  
			and order_no = #{orderNo,jdbcType=VARCHAR}
		</if>
		<if test="prices != null and '' != prices">  
			and prices = #{prices,jdbcType=DECIMAL}
		</if>
		<if test="mealFee != null and '' != mealFee">  
			and meal_fee = #{mealFee,jdbcType=DECIMAL}
		</if>
		<if test="giftAllowance != null and '' != giftAllowance">  
			and gift_allowance = #{giftAllowance,jdbcType=DECIMAL}
		</if>
		<if test="serviceRate != null and '' != serviceRate">  
			and service_rate = #{serviceRate,jdbcType=VARCHAR}
		</if>
		<if test="serviceCharge != null and '' != serviceCharge">  
			and service_charge = #{serviceCharge,jdbcType=DECIMAL}
		</if>
		<if test="refundAmount != null and '' != refundAmount">  
			and refund_amount = #{refundAmount,jdbcType=VARCHAR}
		</if>
		<if test="settlementAmount != null and '' != settlementAmount">  
			and settlement_amount = #{settlementAmount,jdbcType=DECIMAL}
		</if>
		<if test="distributionMode != null and '' != distributionMode">  
			and distribution_mode = #{distributionMode,jdbcType=VARCHAR}
		</if>
		<if test="remark != null and '' != remark">  
			and remark = #{remark,jdbcType=VARCHAR}
		</if>
		<if test="platformType != null and '' != platformType">  
			and platform_type = #{platformType,jdbcType=DECIMAL}
		</if>
		<if test="orderFields != null and '' != orderFields">  
           	order by ${orderFields} ${order}
       	</if>
	</select>
	
	<delete id="deleteByKey" parameterType="java.lang.String">
		delete from account_order_detail
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	
	<insert id="add" parameterType="com.dongnao.workbench.finance.model.AccountOrderDetail">
		insert into account_order_detail (
		<include refid="Base_Column_List" />
		)values (
				#{id,jdbcType=VARCHAR}
				,#{createDate,jdbcType=DATE}
				,#{storeId,jdbcType=CHAR}
				,#{storeELMId,jdbcType=CHAR}
				,#{storeMTId,jdbcType=CHAR}
				,#{storeBDId,jdbcType=CHAR}
				,#{storeName,jdbcType=VARCHAR}
				,#{checkNo,jdbcType=VARCHAR}
				,#{orderType,jdbcType=VARCHAR}
				,#{orderTime,jdbcType=TIMESTAMP}
				,#{overTime,jdbcType=TIMESTAMP}
				,#{orderIndex,jdbcType=VARCHAR}
				,#{orderNo,jdbcType=VARCHAR}
				,#{prices,jdbcType=DECIMAL}
				,#{mealFee,jdbcType=DECIMAL}
				,#{giftAllowance,jdbcType=DECIMAL}
				,#{merchantActivitiesSubsidies,jdbcType=DECIMAL}
				,#{merchantSubsidyVouchers,jdbcType=DECIMAL}
				,#{merchantDistCharge,jdbcType=DECIMAL}
				,#{orderDistCharge,jdbcType=DECIMAL}
				,#{platformDistCharge,jdbcType=DECIMAL}
				,#{serviceRate,jdbcType=VARCHAR}
				,#{serviceCharge,jdbcType=DECIMAL}
				,#{refundAmount,jdbcType=VARCHAR}
				,#{settlementAmount,jdbcType=DECIMAL}
				,#{distributionMode,jdbcType=VARCHAR}
				,#{remark,jdbcType=VARCHAR}
				,#{platformActivitiesSubsidies,jdbcType=DECIMAL}
				,#{platformSubsidyVouchers,jdbcType=DECIMAL}
				,#{platformType,jdbcType=VARCHAR}
				,#{isInvalid,jdbcType=VARCHAR}
				,#{activitiesSubsidyBymerchant,jdbcType=DECIMAL}
				,#{activitiesSubsidyBycompany,jdbcType=DECIMAL}
				,#{foodDiscount,jdbcType=DECIMAL}
				,#{specialOffer,#{jdbcType=DECIMAL}
				,#{bookedTime,#{jdbcType=TIMESTAMP}
				,#{consigneeName,#{jdbcType=VARCHAR}
				,#{consigneePhones,#{jdbcType=VARCHAR}
				,#{activeTime,#{jdbcType=TIMESTAMP}
				,#{activeTotal,#{jdbcType=DECIMAL}
				,#{goodsName,#{jdbcType=VARCHAR}
				,#{goodsQuality,#{jdbcType=VARCHAR}
				,#{goodsId,#{jdbcType=VARCHAR}
				,#{goodsPrice,#{jdbcType=DECIMAL}
				,#{orderSaleRate,#{jdbcType=DECIMAL}
			)
	</insert>
	
	<insert id="addOrderDetail" parameterType="java.util.List">
		insert into account_order_detail (
				id
				,create_date
				,store_id
				,store_ELM_id
				,store_MT_id
				,store_BD_id
				,store_name
				,check_no
				,order_type
				,order_time
				,over_time
				,order_index
				,order_no
				,prices
				,meal_fee
				,gift_allowance
				,merchant_activities_subsidies
				,merchant_subsidy_vouchers
				,merchant_dist_charge
				,order_dist_charge
				,platform_dist_charge
				,service_rate
				,service_charge
				,refund_amount
				,settlement_amount
				,distribution_mode
				,remark
				,platform_activities_subsidies
				,platform_subsidy_vouchers
				,platform_type
				,is_invalid
				,activities_subsidy_bymerchant
				,activities_subsidy_bycompany
				,food_discount
				,special_offer
				,booked_time
				,consignee_name
				,consignee_phones
				,active_time
				,active_total
				,goods_name
				,goods_quality
				,goods_id
				,goods_price
				,order_sale_rate
		)values
		<foreach collection="list" item="item" index="index" separator="," >
		 (
				#{item.id,jdbcType=VARCHAR}
				,#{item.createDate,jdbcType=DATE}
				,#{item.storeId,jdbcType=CHAR}
				,#{item.storeELMId,jdbcType=CHAR}
				,#{item.storeMTId,jdbcType=CHAR}
				,#{item.storeBDId,jdbcType=CHAR}
				,#{item.storeName,jdbcType=VARCHAR}
				,#{item.checkNo,jdbcType=VARCHAR}
				,#{item.orderType,jdbcType=VARCHAR}
				,#{item.orderTime,jdbcType=TIMESTAMP}
				,#{item.overTime,jdbcType=TIMESTAMP}
				,#{item.orderIndex,jdbcType=VARCHAR}
				,#{item.orderNo,jdbcType=VARCHAR}
				,#{item.prices,jdbcType=DECIMAL}
				,#{item.mealFee,jdbcType=DECIMAL}
				,#{item.giftAllowance,jdbcType=DECIMAL}
				,#{item.merchantActivitiesSubsidies,jdbcType=DECIMAL}
				,#{item.merchantSubsidyVouchers,jdbcType=DECIMAL}
				,#{item.merchantDistCharge,jdbcType=DECIMAL}
				,#{item.orderDistCharge,jdbcType=DECIMAL}
				,#{item.platformDistCharge,jdbcType=DECIMAL}
				,#{item.serviceRate,jdbcType=VARCHAR}
				,#{item.serviceCharge,jdbcType=DECIMAL}
				,#{item.refundAmount,jdbcType=VARCHAR}
				,#{item.settlementAmount,jdbcType=DECIMAL}
				,#{item.distributionMode,jdbcType=VARCHAR}
				,#{item.remark,jdbcType=VARCHAR}
				,#{item.platformActivitiesSubsidies,jdbcType=DECIMAL}
				,#{item.platformSubsidyVouchers,jdbcType=DECIMAL}
				,#{item.platformType,jdbcType=VARCHAR}
				,#{item.isInvalid,jdbcType=VARCHAR}
				,#{item.activitiesSubsidyBymerchant,jdbcType=DECIMAL}
				,#{item.activitiesSubsidyBycompany,jdbcType=DECIMAL}
				,#{item.foodDiscount,jdbcType=DECIMAL}
				,#{item.specialOffer,jdbcType=DECIMAL}
				,#{item.bookedTime,#{jdbcType=TIMESTAMP}
				,#{item.consigneeName,#{jdbcType=VARCHAR}
				,#{item.consigneePhones,#{jdbcType=VARCHAR}
				,#{item.activeTime,#{jdbcType=TIMESTAMP}
				,#{item.activeTotal,#{jdbcType=DECIMAL}
				,#{item.goodsName,#{jdbcType=VARCHAR}
				,#{item.goodsQuality,#{jdbcType=VARCHAR}
				,#{item.goodsId,#{jdbcType=VARCHAR}
				,#{item.goodsPrice,#{jdbcType=DECIMAL}
				,#{item.orderSaleRate,#{jdbcType=DECIMAL}
		)
		</foreach>
	</insert>
	
	
	<update id="update" parameterType="com.dongnao.workbench.finance.model.AccountOrderDetail">
		update account_order_detail  set
		id= #{id,jdbcType=VARCHAR}
		,create_date = #{createDate,jdbcType=DATE}
		,store_id = #{storeId,jdbcType=CHAR}
		,store_ELM_id = #{storeELMId,jdbcType=CHAR}
		,store_MT_id = #{storeMTId,jdbcType=CHAR}
		,store_BD_id = #{storeBDId,jdbcType=CHAR}
		,store_name = #{storeId,jdbcType=VARCHAR}
		,check_no = #{checkNo,jdbcType=VARCHAR}
		,order_type = #{orderType,jdbcType=VARCHAR}
		,order_time = #{orderTime,jdbcType=TIMESTAMP}
		,over_time = #{overTime,jdbcType=TIMESTAMP}
		,order_index = #{orderIndex,jdbcType=VARCHAR}
		,order_no = #{orderNo,jdbcType=VARCHAR}
		,prices = #{prices,jdbcType=DECIMAL}
		,meal_fee = #{mealFee,jdbcType=DECIMAL}
		,gift_allowance = #{giftAllowance,jdbcType=DECIMAL}
		,merchant_activities_subsidies = #{merchantActivitiesSubsidies,jdbcType=DECIMAL}
		,merchant_subsidy_vouchers = #{merchantSubsidyVouchers,jdbcType=DECIMAL}
		,merchant_dist_charge = #{merchantDistCharge,jdbcType=DECIMAL}
		,order_dist_charge = #{orderDistCharge,jdbcType=DECIMAL}
		,platform_dist_charge = #{platformDistCharge,jdbcType=DECIMAL}
		,service_rate = #{serviceRate,jdbcType=VARCHAR}
		,service_charge = #{serviceCharge,jdbcType=DECIMAL}
		,refund_amount = #{refundAmount,jdbcType=VARCHAR}
		,settlement_amount = #{settlementAmount,jdbcType=DECIMAL}
		,distribution_mode = #{distributionMode,jdbcType=VARCHAR}
		,remark = #{remark,jdbcType=VARCHAR}
		,platform_activities_subsidies = #{platformActivitiesSubsidies,jdbcType=DECIMAL}
		,platform_subsidy_vouchers = #{platformSubsidyVouchers,jdbcType=DECIMAL}
		,platform_type = #{platformType,jdbcType=VARCHAR}
		,is_invalid = #{isInvalid,jdbcType=VARCHAR}
		,activities_subsidy_bymerchant = #{activitiesSubsidyBymerchant,jdbcType=DECIMAL}
		,activities_subsidy_bycompany = #{activitiesSubsidyBycompany,jdbcType=DECIMAL}
		,food_discount = #{foodDiscount,jdbcType=DECIMAL}
		,special_offer = #{specialOffer,jdbcType=DECIMAL}
		,booked_time = #{bookedTime,#{jdbcType=TIMESTAMP}
		,consignee_name= #{consigneeName,#{jdbcType=VARCHAR}
		,consignee_phones = #{consigneePhones,#{jdbcType=VARCHAR}
		,active_time = #{activeTime,#{jdbcType=TIMESTAMP}
		,active_total = #{activeTotal,#{jdbcType=DECIMAL}
		,goods_name = #{goodsName,#{jdbcType=VARCHAR}
		,goods_quality= #{goodsQuality,#{jdbcType=VARCHAR}
		,goods_id = #{goodsId,#{jdbcType=VARCHAR}
		,goods_price = #{goodsPrice,#{jdbcType=DECIMAL}
		,order_sale_rate = #{orderSaleRate,#{jdbcType=DECIMAL}
	where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>
