<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongnao.workbench.finance.dao.AccountCheckMapper">
	<resultMap id="BaseResultMap" type="com.dongnao.workbench.finance.model.AccountCheck">
		<id column="id" property="id" jdbcType="VARCHAR" />
															<result column="account_time" property="accountTime" jdbcType="DATE" />
													<result column="elm_settlement" property="elmSettlement" jdbcType="DOUBLE" />
													<result column="baidu_settlement" property="baiduSettlement" jdbcType="DOUBLE" />
													<result column="meituan_settlement" property="meituanSettlement" jdbcType="DOUBLE" />
													<result column="total_settlement" property="totalSettlement" jdbcType="DOUBLE" />
													<result column="elm_cost" property="elmCost" jdbcType="DOUBLE" />
													<result column="baidu_cost" property="baiduCost" jdbcType="DOUBLE" />
													<result column="meituan_cost" property="meituanCost" jdbcType="DOUBLE" />
													<result column="actual_settlement" property="actualSettlement" jdbcType="DOUBLE" />
													<result column="remark" property="remark" jdbcType="VARCHAR" />
													<result column="store_id" property="storeId" jdbcType="VARCHAR" />
									</resultMap>
	<sql id="Base_Column_List">
						 	id
										,account_time
										,elm_settlement
										,baidu_settlement
										,meituan_settlement
										,total_settlement
										,elm_cost
										,baidu_cost
										,meituan_cost
										,actual_settlement
										,remark
										,store_id
						</sql>
	
	<select id="getByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from account_check
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="listByCondition" resultMap="BaseResultMap" parameterType="com.dongnao.workbench.finance.model.AccountCheck">
		select
		<include refid="Base_Column_List" />
		from account_check
		where 1=1
		<if test="id != null and '' != id">  
			and id = #{id,jdbcType=VARCHAR}
		</if>
		<if test="accountTime != null and '' != accountTime">  
			and account_time = #{accountTime,jdbcType=DATE}
		</if>
		<if test="elmSettlement != null and '' != elmSettlement">  
			and elm_settlement = #{elmSettlement,jdbcType=DOUBLE}
		</if>
		<if test="baiduSettlement != null and '' != baiduSettlement">  
			and baidu_settlement = #{baiduSettlement,jdbcType=DOUBLE}
		</if>
		<if test="meituanSettlement != null and '' != meituanSettlement">  
			and meituan_settlement = #{meituanSettlement,jdbcType=DOUBLE}
		</if>
		<if test="totalSettlement != null and '' != totalSettlement">  
			and total_settlement = #{totalSettlement,jdbcType=DOUBLE}
		</if>
		<if test="elmCost != null and '' != elmCost">  
			and elm_cost = #{elmCost,jdbcType=DOUBLE}
		</if>
		<if test="baiduCost != null and '' != baiduCost">  
			and baidu_cost = #{baiduCost,jdbcType=DOUBLE}
		</if>
		<if test="meituanCost != null and '' != meituanCost">  
			and meituan_cost = #{meituanCost,jdbcType=DOUBLE}
		</if>
		<if test="actualSettlement != null and '' != actualSettlement">  
			and actual_settlement = #{actualSettlement,jdbcType=DOUBLE}
		</if>
		<if test="remark != null and '' != remark">  
			and remark = #{remark,jdbcType=VARCHAR}
		</if>
		<if test="storeId != null and '' != storeId">  
			and store_id = #{storeId,jdbcType=VARCHAR}
		</if>
				<if test="orderFields != null and '' != orderFields">  
           	order by ${orderFields} ${order}
         	</if>
	</select>
	
	<delete id="deleteByKey" parameterType="java.lang.String">
		delete from account_check
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	
	<insert id="add" parameterType="com.dongnao.workbench.finance.model.AccountCheck">
		insert into account_check (
		<include refid="Base_Column_List" />
		)values (
										#{id,jdbcType=VARCHAR}
														,#{accountTime,jdbcType=DATE}
														,#{elmSettlement,jdbcType=DOUBLE}
														,#{baiduSettlement,jdbcType=DOUBLE}
														,#{meituanSettlement,jdbcType=DOUBLE}
														,#{totalSettlement,jdbcType=DOUBLE}
														,#{elmCost,jdbcType=DOUBLE}
														,#{baiduCost,jdbcType=DOUBLE}
														,#{meituanCost,jdbcType=DOUBLE}
														,#{actualSettlement,jdbcType=DOUBLE}
														,#{remark,jdbcType=VARCHAR}
														,#{storeId,jdbcType=VARCHAR}
									)
	</insert>
	
	<update id="update" parameterType="com.dongnao.workbench.finance.model.AccountCheck">
		update account_check  set
			ID= #{id,jdbcType=VARCHAR}
			,account_time = #{accountTime,jdbcType=DATE}
			,elm_settlement = #{elmSettlement,jdbcType=DOUBLE}
			,baidu_settlement = #{baiduSettlement,jdbcType=DOUBLE}
			,meituan_settlement = #{meituanSettlement,jdbcType=DOUBLE}
			,total_settlement = #{totalSettlement,jdbcType=DOUBLE}
			,elm_cost = #{elmCost,jdbcType=DOUBLE}
			,baidu_cost = #{baiduCost,jdbcType=DOUBLE}
			,meituan_cost = #{meituanCost,jdbcType=DOUBLE}
			,actual_settlement = #{actualSettlement,jdbcType=DOUBLE}
			,remark = #{remark,jdbcType=VARCHAR}
			,store_id = #{storeId,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>
