<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongnao.workbench.activity.dao.ActivityMapper">
	<resultMap id="BaseResultMap" type="com.dongnao.workbench.activity.model.Activity">
		<id column="ACTIVITY_ID" property="activityId" jdbcType="CHAR" />
															<result column="ACTIVITY_NAME" property="activityName" jdbcType="VARCHAR" />
													<result column="ACTIVITY_TYPE" property="activityType" jdbcType="CHAR" />
													<result column="ACTIVITY_DESC" property="activityDesc" jdbcType="VARCHAR" />
													<result column="ACTIVITY_EXPECTED_PROFIT" property="activityExpectedProfit" jdbcType="DOUBLE" />
									</resultMap>
	<sql id="Base_Column_List">
						 	ACTIVITY_ID
										,ACTIVITY_NAME
										,ACTIVITY_TYPE
										,ACTIVITY_DESC
										,ACTIVITY_EXPECTED_PROFIT
						</sql>
	
	<select id="getByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from dn_activity
		where ACTIVITY_ID = #{activityId,jdbcType=CHAR}
	</select>
	
	<select id="listByCondition" resultMap="BaseResultMap" parameterType="com.dongnao.workbench.activity.model.Activity">
		select
		<include refid="Base_Column_List" />
		from dn_activity
		where 1=1
		<if test="activityId != null and '' != activityId">  
			and ACTIVITY_ID = #{activityId,jdbcType=CHAR}
		</if>
		<if test="activityName != null and '' != activityName">  
			and ACTIVITY_NAME = #{activityName,jdbcType=VARCHAR}
		</if>
		<if test="activityType != null and '' != activityType">  
			and ACTIVITY_TYPE = #{activityType,jdbcType=CHAR}
		</if>
		<if test="activityDesc != null and '' != activityDesc">  
			and ACTIVITY_DESC = #{activityDesc,jdbcType=VARCHAR}
		</if>
		<if test="activityExpectedProfit != null and '' != activityExpectedProfit">  
			and ACTIVITY_EXPECTED_PROFIT = #{activityExpectedProfit,jdbcType=DOUBLE}
		</if>
				<if test="orderFields != null and '' != orderFields">  
           	order by ${orderFields} ${order}
         	</if>
	</select>
	
	<delete id="deleteByKey" parameterType="java.lang.String">
		delete from dn_activity
		where ACTIVITY_ID = #{activityId,jdbcType=CHAR}
	</delete>
	
	<insert id="add" parameterType="com.dongnao.workbench.activity.model.Activity">
		insert into dn_activity (
		<include refid="Base_Column_List" />
		)values (
										#{activityId,jdbcType=CHAR}
														,#{activityName,jdbcType=VARCHAR}
														,#{activityType,jdbcType=CHAR}
														,#{activityDesc,jdbcType=VARCHAR}
														,#{activityExpectedProfit,jdbcType=DOUBLE}
									)
	</insert>
	
	<update id="update" parameterType="com.dongnao.workbench.activity.model.Activity">
		update dn_activity  set
		ID= #{activityId,jdbcType=CHAR}
													,ACTIVITY_NAME = #{activityName,jdbcType=VARCHAR}
											,ACTIVITY_TYPE = #{activityType,jdbcType=CHAR}
											,ACTIVITY_DESC = #{activityDesc,jdbcType=VARCHAR}
											,ACTIVITY_EXPECTED_PROFIT = #{activityExpectedProfit,jdbcType=DOUBLE}
							where ACTIVITY_ID = #{activityId,jdbcType=CHAR}
	</update>
</mapper>
