#login-body{
	background-color:#66D5EB;
	background-image: url('images/login_bg.png');    
	background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
#login-body .bg_flag{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 7%;
}
#login-body .bg_flag .left{
	height: 100%;
}
#login-body .bg_flag .right{
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	height: 100%;
	float: right;
}
#loginWindow{    
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-70%);
	width: 400px;
	min-width: 400px;
	padding: 0 60px;
	border: 1px solid #4cc1d9;
	background: #69cade;
	border-radius: 10px;
}
#loginWindow table{
	width: 100%;
}
#loginWindow table tr{
	height:70px;
}
#loginWindow .logo_box{
	padding: 40px 50px 10px;
}
#loginWindow .logo_box img{
	width: 100%;
}
#loginForm input{
	background-color:#fff;
}
#loginForm div.group{
	position:relative;
	border-radius: 8px;
	overflow: hidden;
}
#loginForm div.group span.addon{
	width: 55px;
	height: 50px;
	position:absolute;
	top:0px;
	left:0px;
	text-align:center;
	font-size:18px;
	background-color: #fff;
	color:#68c9de;
	border-right: 2px solid #68c9de;
}
#loginForm div.group span.addon::before{
	position:relative;
	top:30%;
}
/* #loginForm div.group span.addon.login_name{
	background-color:#28b779;
}
#loginForm div.group span.addon.password{
	background-color:#ffb848;
} */
#loginForm div.group.check_code{
	border-radius: 0;
	overflow: visible;
	height: 34px;
}
#loginForm div.group.check_code span.addon{
	background-color:#ff7373;
	color:#fff;
	width: 34px;
	line-height: 34px;
    height: 100%;
	font-weight: bold;
	text-align: center;
	position: static;
	display: inline-block;
	float: left;
	margin-right: 4px;
	border: none;
}
#loginForm div.group.check_code input{
	height: 100%;
	width:90px;
	display: inline-block;
	text-indent: 10px;
	line-height: 0;
}
#loginForm div.group.check_code img{
	position:absolute;
	top:0px;
	left:105%;
	height: 100%;
}
#loginForm div.remb{
	position:relative;
	margin:20px 0px 10px 10px;
}
#loginForm div.remb label{
	color: #fe0000;
}
#loginForm div.remb .remb_label{
	background: #fff;
	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	position: relative;
}
#loginForm div.remb .remb_label:after{
    content: '';
	opacity: 0;
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#loginForm div.remb input{
	position: absolute;
	z-index: -100;
	visibility: hidden;
}
#loginForm div.remb input#remb:checked~.remb_label:after{
	opacity: 1;
}
#loginForm div.remb span{
	position:absolute;
	bottom:0px;
	right:0px;
	color:#fff;
}
#loginForm div.group input{
	width:100%;
	height: 50px;
	text-indent: 65px;
	border:none;
	font-size: 16px;
	color: #999;
}
#loginForm button{
	padding:0px 15px;
	height:35px;
	font-size:14px;
	color:#fff;
	border:none;
	cursor:pointer;
	margin-left:10px;
}
#loginForm button:hover{
	opacity:.9;
}
#loginForm .btn-box{
	float: right;	
}

#loginForm .btn-box button{
	width: 80px;
	border-radius: 3px;
	outline: none;
}
#loginForm .btn-box button.btn_reset{
	background-color:#4fb859;
}
#loginForm .btn-box button.btn_login{
	background-color:#46a5c1;
}